<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
</body>
<table >
    <thead style="color: red">
    <tr>
        <th>HỌ TÊN </th>
        <th>TUỔI </th>
        <th>LỚP </th>
    </tr>
    </thead>
    <tbody style="color: yellow">
    <tr>
        <td>Đoàn Minh</td>
        <td>20</td>
        <td>KTPM2</td>
    </tr>
    <tr>
        <td>Lê Quang Phú</td>
        <td>20</td>
        <td>KHTL1</td>
    </tr>
    </tbody>
</table>
<h1 th:text="${data}"></h1>
</html>